{% extends 'gentelella/base.html' %}
{% load static %}

{% block stylesheets %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>Generador de Formularios Drag and Drop</title>
{% endblock stylesheets %}
{% block content %}
<div class="form-builder">
    <div class="sidebar">
        <h2>Basic</h2>
        <div id="element-container">
            <div class="draggable" draggable="true" id="openQuestion">
                Open Question
            </div>
        </div>
    </div>

   <div class="form-preview" id="form-preview" droppable="true">
    <h2>Formulario</h2>
    <div id="formulario-contenido">
        <div id="textareas-container">

        </div>
    </div>
         <div id="form-submit-container">
            <button id="form_submit" type="submit">Enviar</button>
        </div>
</div>
  <div class="form_builder">
    <div class="sidebar">
        <h2>Settings</h2>
        <div id="element">
            <form id="miFormulario">
                <div id="custom-form-container"></div>
            </form>
        </div>
    </div>
</div>


    </div>

</div>

{% endblock %}

{% block js %}

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
